# <docker-hosts>
{{ range $container := $ }}
{{- (first $container.Networks).IP }} {{ $container.Name }}.docker    # {{ $container.Name }} ({{$container.ID}} from {{$container.Image.Repository}})
{{ end }}
{{- range $container := whereLabelExists $ "hosts" -}}
{{ range $hostname := split $container.Labels.hosts " " }}
{{ (first $container.Networks).IP }} {{ $hostname }}    # {{ $container.Name }} ({{$container.ID}} from {{$container.Image.Repository}})
{{- end -}}
{{ end }}
# </docker-hosts>
